{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
    <h1>Registration</h1>
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit">Register</button>
    </form>
      <p>Already have account?<a href="{% url 'login' %}">Login</a> </p>
</body>
</html>